<% include ./partials/header %>

<ul>
  <li><%= event.title %></li>
  <li><%= event.date %></li>
  <li><%= event.organiser %></li>
  <li><%= event.description %></li>
  <li><%= event.ticket_price %></li>
</ul>

<% include ./partials/footer %>
